*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#logo{
    height: 175px;
    width: 175px;
}
#fachada{
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 10px 30px 10px rgb(61, 78, 231);
}
#cabecalho{
    height: 180px;
    background-color: rgb(42, 108, 206);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navegacao{
    height: 90px;
    background-color: rgb(255, 255, 255);
}
#menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    font-family: 'Roboto', cursive;
    font-size: 1.8em;
}
a{
    text-decoration: none;
    color: rgb(98, 209, 204);
}
#conteudo {
    height: 475px;
    background-size: 15px;
    font-family: 'Roboto', cursive;
    font-size: 1.5em; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 60px; 
    margin: 30px; 
    box-sizing: border-box; 
}

#texto {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

#conteudo p,
#conteudo h3 {
    margin: 0; 
}

#fachada {
    max-width: 50%; 
    height: auto;
}

body {
    background-color: #f7f7f7; /* Cor de fundo da página */
}

#contato {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

#contato form {
    width: 100%;
}

.form-control {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Fundo padrão para as caixas */
}

.form-control:hover {
    background-color: #e6e6e6; /* Efeito de cor ao passar o mouse */
    border-color: #aaa;
}

.btn-primary {
    margin-top: 10px;
}

#rodape {
    font-family: 'Roboto', cursive;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    background-color: rgba(149, 155, 185, 0.836);
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#rodape img.icones {
    width: 30px; 
    height: auto; 
    margin: 10px; 
}

#rodape br {
    margin-bottom: 10px; 
}

.icones{
    height: 35px;
    width: 40px;
    margin-right: 10px;
}

#historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/fotocafe.jpg");
    background-size: cover; 
    background-position: center;
    height: 800px; 
    min-width: 100%; 
    padding: 33px; 
    font-family: 'Roboto', cursive;
    font-size: 1.8em;
    margin: 0; 
    color: white; 
}

#historia img {
    height: auto; 
    width: 100%; 
    box-shadow: 10px 10px 10px gray;
    border-radius: 25px;
    margin-bottom: 20px; 
}

#historia p {

    margin: 0 20px;
    max-width: 900px;
    text-shadow: 2px 2px 5px gray;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

p {
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #218838;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #historia {
        font-size: 1.8em; 
        height: 500px;
    }

    #historia img {
        max-width: 90%;  
    }
}

@media (max-width: 480px) {
    #historia {
        font-size: 1.1em; 
        height: 400px;
    }
}

.fotos{
    height: 300px;
    width: 520px;
    margin-bottom: 20px;
}
#galeria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse; /* Remove bordas duplas */

}

tr {
    border: 1px solid #ccc; /* Borda para cada linha */
}

td {
    padding: 5px; /* Padding reduzido */
    border: 1px solid #ccc; /* Borda para células */
}

.attribute-value {
    display: flex; /* Usar flexbox para layout */
    justify-content: space-between; /* Espaçamento entre atributo e valor */
    align-items: center; /* Alinhar verticalmente ao centro */
}

td button {
    background-color: #28a745; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda do botão */
    padding: 4px; /* Padding do botão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de ponteiro ao passar o mouse */
    width: 100%; /* Largura total para o botão */
}

td button:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
}

th {
    background-color: #f2f2f2; 
    font-weight: 500; 
}

#search-container {
    position: relative;
    width: 300px;
    margin: 20px;
}

#search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#suggestions {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}